
.normal {
  position: fixed;
  width: 100%;
}

.react{
  display: inline-block;
  width:100%;
  text-align: center;
}

.redux{
  display: inline-block;
  text-align: center;
  opacity:0;
}

.saga{
  display: inline-block;
  text-align: center;
  opacity:0;
}

.dva{
  display: inline-block;
  text-align: center;
  opacity:0;
}
