<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="never">
  <title>share</title>
</head>
<body style="height: 100%">
<div id="root" style="height: 100%"></div>
</body>
</html>
